
body {
width: 100%;
height: 100%;
margin: 0 auto;
background: #f0f0f0;
} 
header {
height:20px;
background: #00FF00;}

div {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}


#wrapper{ 
height:300px;
width: 100%;
background:#E5D3BD;

 }
#block1{
width:100%;
height:150px;
background:#FFA500;
border: 1px solid #000000;

	}
#block2{
width:100%;
height:150px;
background:#006ABB;
border: 1px solid #000000;


}
#block3{
float:left;
width:50%;
height:150px;
background:#FF74D3;
border: 1px solid #000000;

}
#block4{
float:right;
width:50%;
height:150px;
background:#00ECFF;
border: 1px solid #000000;


}
#block5{
float:left;
width:30%;
height:150px;
background:#00b227;
border: 1px solid #000000;


}
#block6{
float:left;
width:30%;
height:150px;
background:#7800f6;
border: 1px solid #000000;


}
#block7{
float:left;
width:30%;
height:150px;
background:#ff0000;
border: 1px solid #000000;
}
footer {height:20px;

background: #00FFFF;}